div.timer_container {
    position: relative;
}

div.timer_container div.touchDiv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

div.timer_container div.hourscale,
div.timer_container div.upperHourscale {
    margin: 6px auto 5px 39px;
}

div.timer_container div.hourscale span,
div.timer_container div.upperHourscale span {
    display: inline-block;
    width: 38px;
    margin-left: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    color: #54616c;
}

div.timer_container div.hourscale span:first-child,
div.timer_container div.upperHourscale span:first-child {
    margin-left: -4px;
}

div.timer_container div.dayscale {
    float: left;
    width: 55px;
    padding: 1px 0;
}

div.timer_container div.dayscale div {
    margin-bottom: 7px;
    padding-top: 7.5px;
    font-weight: bold;
    font-size: 115%;
    color: #234059;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.timer_container div.dayscale div.weekend {
    color: steelblue;
}

div.timer_container div.week {
    width: 481px;
    /* margin: 0 auto;*/
    overflow: hidden;
    background: url(images/timer_back.png) #fff;
    padding-top: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.timer_container div.week div.day {
    width: 100%;
    height: 28px;
    margin-bottom: 7px;
    background-image: url(images/timer_dayback.png);
    background-repeat: repeat-x;
    background-position: 0px bottom;
}

div.timer_container div.day span {
    display: inline-block;
    height: 100%;
    background-image: url(images/timer_hourback.png);
    background-repeat: repeat-x;
    background-position: 0px bottom;
    /*margin ist fake und nur dazu da einen Versatz bei grösser ziehen auszugleichen. Sonst sollte der margin keinen Effekt haben.*/
    margin-bottom: 0.5rem;
}

div.timer_container div.day span.col1 {
    display: inline-block;
    height: 100%;
    background-image: url(images/timer_hourback_col1.png);
    background-repeat: repeat-x;
    background-position: 0px bottom;
}

div.timer_container div.day span.col2 {
    display: inline-block;
    height: 100%;
    background-image: url(images/timer_hourback_col2.png);
    background-repeat: repeat-x;
    background-position: 0px bottom;
}

div.timer_container div.day span.b015 {
    background-position: -5px bottom;
}

div.timer_container div.day span.b030 {
    background-position: -10px bottom;
}

div.timer_container div.day span.b045 {
    background-position: -15px bottom;
}

div.timer_container div.day span.b10 {
    background-position: -20px bottom;
}

div.timer_container div.day span.b115 {
    background-position: -25px bottom;
}

div.timer_container div.day span.b130 {
    background-position: -30px bottom;
}

div.timer_container div.day span.b145 {
    background-position: -35px bottom;
}

div.timer_container div.week div.lastday {
    margin-bottom: 0;
}

div#uiTimerArea,
div.timerArea {
    /*Hiermit wird ein Scalieren ab Bildschirmen mit einer grösseren Auflösung als FullHD verhindert.
Somit sieht der Timer immer noch gut aus.*/
    font-size: 12px;
    margin-top: 30px;
    margin-left: 0;
    width: 560px;
}

div.timer_container div.legend {
    padding: 0;
    margin: 20px 0 0 55px;
    border-left: 19px solid #fff;
    clear: both;
}

div.timer_container div.legend div.legend_inactive,
div.timer_container div.legend div.legend_active {
    padding-left: 30px;
    background: url(images/timer_dayback.png) no-repeat -21px;
    position: relative;
    left: -19px;
}

div.timer_container div.legend div.legend_active {
    background-image: url(images/timer_hourback.png);
}

div.timer_container div.legend div.legend_active.col1 {
    background-image: url(images/timer_hourback_col1.png);
}

div.timer_container div.legend div.legend_active.col2 {
    background-image: url(images/timer_hourback_col2.png);
}

div.timer_container div.msg_box {
    position: relative;
    top: -272px;
    padding: 8px 0;
    width: 384px;
    margin: auto;
    border: 1px solid #90a6a5;
    background: #faf8f2;
    text-align: center;
    left: 104px;
    display: inline-block;
}

div.timer_container div.msg_box.hide {
    visibility: hidden;
}

.mobile_warning {
    display: none;
    text-align: center;
    height: 5rem;
    border: 1px solid #7e97a3;
    width: 100%;
}

.mobile_warning_head {
    color: #7e97a3;
    width: 100%;
}

@media (max-width: 576px) {
    div#uiTimerArea,
    div.timerArea {
        width: auto;
    }
    div.timer_container div.hourscale, div.timer_container div.upperHourscale {
      min-width: 522px;
      margin: 6px auto 5px -16px;
    }
    div.dayscale {
      position: absolute;
      margin-left: -17px;
      opacity: 0.6;
    }
    .mobile_warning {
        display: inline-block;
    }
}

.disableNode div.msg_box {
    display: none;
}

div.editTime {
    position: absolute;
    top: -20px;
    left: 180px;
    z-index: 9;
    margin: auto;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
}

div.editTime.show {
    background-color: #d2ddef;
    border: 1px solid #d2ddef;
    color: #2c2c2c;
}

div.editTime span {
    display: inline-block;
    margin: 0 3px;
    font-weight: bold;
}

.newlegend {}

.newlegend input[type=radio] {
    display: none;
}

.newlegend label {
    cursor: pointer;
}

.newlegend img {
    margin-right: 8px;
}

.newlegend span.radio.cur,
.newlegend span.radio {
    background-image: none;
    display: inline-block;
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin: 0 5px;
}

.newlegend span.radio.cur {
    background-image: url("/css/default/images/timer_current_marker.png");
    background-repeat: no-repeat;
}
